<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/inicio"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button>
        <ion-icon class="fs-24 txt1" color="light" src="../../../assets/imgs/_ionicons_svg_md-menu.svg"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <!--
    <ion-buttons slot="start">

      <ion-button fill="clear" class="shadow-0 txt1" [routerLink]="'/mycart'" routerDirection="forward">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons> -->

    <!-- <ion-title>Inicio</ion-title> -->
  </ion-toolbar>
</ion-header>
