<app-header></app-header>

<ion-content>
  <img class="bg-cart1" src="{{'assets/imgs/bg-cart.jpg' }}">
  <img class="bg-cart2" src="{{'assets/imgs/bg-cart2.png' }}">


  <div class="poster">
    <img class="poster-effect" [src]="img">
  </div>

  <div class="title-content">
    <h2>{{title}}</h2>
    <p>{{desc}}</p>
    <div style="display: flex;">

      <img class="img-menu" src="{{'assets/imgs/Menu.jpg' }}">
      <img class="img-menu" style="margin-left: 16%;" src="{{'assets/imgs/reservar.png' }}">
    </div>
    <div class="line"></div>

  </div>

  <div class="movies-flex content-categoris">
    <div class="movie">
      <div class="title">{{catTitle}}</div>
    </div>

  </div>
  <ion-list class="products">
    <ion-item *ngFor="let cats of productsList" lines="none">
      <div class="card">
        <div class="card-item">
          <h2> {{cats.title}}</h2>

        </div>
        <div class="card-item">
          <p class="descText" no-margin no-padding>{{cats.price}}$</p>

        </div>

        <div>
          <img slot="end" [src]="cats.image"/>
        </div>
      </div>



    </ion-item>
  </ion-list>

</ion-content>